.card {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 15px 30px;
    background-color: rgb(157, 248, 248);
    box-shadow: 0 1px 6px rgb(0, 0, 0, 0.65)
}

h2 {
    font-weight: 200;
}